

body {
    font-family: Courier;

}
.body-box {

    max-width: 80%;
    margin: auto;
    background-color: #f8f9fa ;

}
.nav {
    margin-left: 100px;


}
.bar {

    display: inline;
    font-size: 20px;
    margin-left: 15px;
    cursor: pointer;
    transition: 0.7s;

}

.bar:hover {
    font-size: 25px;
    background-color: #F5F5F5;


}
.bar:active {
    font-weight: 800;
    padding: 7px;
}



header {
    margin: 30px;



}
.picture {
    margin: 80px;
}
.ins {

    max-width: 90%;
    margin: auto;
    font-size: 18px;
    font-family: Courier;


}


ul li {

    max-width: fit-content;
    list-style-type: none;
    display: inline-block;
    margin-right: 10px;
}

a {
    text-decoration: none;
    color: black;

}
img {
    display: inline;
}
.photo {
    display: inline;
}






.slide {
    display: flex;
    overflow: scroll;
}

.slide .photo {
    width: 100%;
    margin: 12px;
    transition: transform 0.5s ease;



}

.slide .photo:not(:first-child) {
    transform: translateX(-100%);
}

.slide:hover .photo:not(:hover) {
    transform: translateX(-200%);
    font-family: Courier;
}

.cr {
    width: 90px;
    height: 70px;
    text-align: center;
    margin-left: 500px;
    margin-top: 100px;
}